@media only screen and (max-width: 600px) {
  .splash {
    width: 300px;
  }
  .splash img{
    width: 318px;
    height: 260px;
  }
  .items-wrapper{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .wrapper img{
    width: 13em;
    height: 8.5em;
  }
  .item-img{
    width: 17em;
    height: 13.5em;
  }
  .item-box {
    background-color: #fff;
    border: solid;
    border-radius: 2%;
    margin-top: 20px;
    color: #000;
    width: 368px;
    padding: 10px;
}
.logo{
  width: 368px;
  height: 260px;
}
.login-to-add {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  margin: auto;
}
.item-reviews {
    border-radius: 5%;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 258px;
    
}
.profile-reviews-wrapper{
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-comments-wrapper{
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: -2148px;
}
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(113, 1, 1);
  background-color: #FFF2E6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f1f1f6;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
}
.wrapper{
  background-color: white;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
nav {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border: solid 1px white;
  width: 100%;
  background-color: #272525;
  height: 30px;
  font-size: larger;
  z-index: 1;
}
.profile-button{
  max-width: 100%;
  max-height: 100%;
  width: 40px;
  height: 30px;
  padding: 2px;
  border-radius: 50%;
  background-color: white;
}
.profile-button-button{
  background: none;
  color: white;
  margin-top: 4px;

}
.reviews{
  position: relative;
  width: 350px;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  
  display: flex;
  flex-direction: column;
}
.reviews button{
  width: 70px;
}
.stars{
  color: rgb(125, 107, 8);
  padding: 5px;
}
.comments{
  border: solid rgb(45, 45, 48);
}
.username{
  font-size: xx-large;
}
.items-box{
  background-color: #fff;
  border-radius: 2%;
  margin-top: 20px;
  color: #000;
  padding: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  
}

.item-box{
  background-color: white;
  border: solid;
  border-radius: 2%;
  margin-top: 20px;
  color: black;
}
.BR{
  width: 54px;
    height: 54px;
}
.login-to-add{
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  margin: auto;
}
.splash{
  color: rgb(113, 1, 1);
  max-width: 100%;
}
.item-img{
  width: 30em;
  height: 21.5em;
  padding: 10px;
}
.logo{
  text-align: center;
  pointer-events: none;
}

.search{
  text-align: center;
}

form{
  display: inline-block;
  width: 176px;
}

form button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  font-size: x-large;
}
label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.search{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.auth-container{
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.form-logo{
  width: 100px;
  height: 75px;
}
.item-reviews{
  position: relative;
  width: 350px;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  
  margin-left: auto;
  margin-right: auto;
}
.reviews-button{
  display: block;
  margin: auto;
  margin-top: 3px;
  border: #000;
}
.profile-reviews-wrapper{
  border: solid black;
    position: absolute;
    left: 15%;
    width: 30%;
    background-color: white;
}
.profile-comments-wrapper{
  border: solid black;
    position: absolute;
    right: 15%;
    width: 30%;
    background-color: white;
}
.profile-reviews{
  position: relative;
  width: 350px;
  height: 200px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  display: flex;
  flex-direction: column;
  right: 20px;
}
.profile-comments{
  position: relative;
  width: 350px;
  height: 200px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  display: flex;
  flex-direction: column;
  right: 20px;
}
.profile-page-img{
  border: solid #000;
  border-radius: 50%;
  width: 250px;
  height: 200px;
  background-color: white;
}