:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(113, 1, 1);
  background-color: #FFF2E6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
nav {
  position: fixed;
  right: 0;
  top: 0%;
  display: flex;
  justify-content: space-evenly;
  border: solid 1px white;
  width: 100%;
  background-color: #272525;;;
}
.profile-button{
  max-width: 100%;
  max-height: 100%;
  width: 40px;
  height: 30px;
  padding: 2px;
  border-radius: 50%;
  background-color: white;
}
.profile-button-button{
  background: none;
}
.reviews{
  border: solid red;
  border-radius: 5%;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.stars{
  color: rgb(125, 107, 8);
  padding: 5px;
}
.comments{
  border: solid rgb(45, 45, 48);
}
.username{
  font-size: xx-large;
}
.items-box{
  background-color: white;
  border: solid;
  border-radius: 2%;
  margin-top: 20px;
  color: black;
  padding: 10px;
}

.item-box{
  background-color: white;
  border: solid;
  border-radius: 2%;
  margin-top: 20px;
  color: black;
}
.BR{
  width: 54px;
    height: 54px;
}
.login-to-add{
  padding: 10px;
  margin-bottom: 10px;
  position: absolute;
  right: 25%;
}
.splash{
  color: rgb(113, 1, 1);
  max-width: 100%;
}
.item-img{
  width:25em;
  height: 12.5em;
}
@media only screen and (max-width: 600px) {
  .splash {
    width: 300px;
  }
}
/* .search{
  position: relative;
  right: 25%;
} */